.play {
	margin: 0 -15px;
	clear: both;
	&.play__edit {

	}

	&:before,
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

.play--offense,
.play--defense {
	width: 50%;
	float: left;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
 
.play--offense {

}

.play--defense {
	background: #ccc;
}

.play--completed,
.play--down,
.play--play,
.play--player,
.play--yardage,
.play--def-play,
.play--def-player {
}

.play--completed {
	width: 64px;

	&.play--completed__true .fa-times,
	&.play--completed__false .fa-check {
		color: #ccc;
	}
}

.play--down {
	padding: 0 6px;
	width: 22px;

	.play__edit & {
		position: relative;
		height: 26px;
		overflow: hidden;

		&:hover {
			overflow: visible;
		}
	}
	
	.play-down--downs{
		top: 0;
		position: absolute;
		transition: all .23s ease-in-out;
		left: 0px;

		&.play-down--downs__2 {
			top: -1.40em;
		}
		&.play-down--downs__3 {
			top: -2.85em;
		}
		&.play-down--downs__4 {
			top: -4.25em;
		}

		.play-down--down {
			padding: 0 6px;
			transition: all .27s;

			&.text-muted {
				opacity: 0;
				pointer-events: none;
			}
		}

		&:hover {
			background: #f6f6f6;

			.play-down--down.text-muted {
				opacity: 1;
				pointer-events: initial;
			}
		}
	}
}

.play--play {
	width: 19px;
	padding-right: 6px;
}
.play--player {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
}
.play--yardage { width: 15%; }

.play--def-play { width: 50%; }
.play--def-player { width: 50%; }

@keyframes showDowns {
	0% {
		opacity: 0;
		left: 0;
	}

	99% {
		opacity: 0;
		left: 100%;
	}

	100% {
		left: 100%;
	}
}